* {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* =====================
    common css ends
===================== */
header {
  background: #444;
}
header ul li {
  border-right: 1px solid #dddddd;
  padding: 0 20px;
}
header ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #dddddd !important;
  line-height: 50px;
}
header ul li a i {
  margin-right: 4px;
}
header .header-left ul li:first-child {
  padding-left: 0;
}
header .header-left ul li:last-child {
  border-right: none;
}
header .header-right ul li:last-child {
  border-right: none;
  padding-right: 0;
}

/* ========================
    header css ends
========================= */
.navbar .navbar-nav .nav-item .nav-link {
  line-height: 110px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  padding: 0 10px !important;
  position: relative;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link::before {
  content: '';
  width: 0px;
  height: 1px;
  background: #de4644;
  position: absolute;
  left: 10px;
  bottom: 40px;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: '';
  width: 0px;
  height: 1px;
  background: #de4644;
  position: absolute;
  left: 10px;
  bottom: 37px;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #de4644;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before {
  width: 23px;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  width: 11px;
}
.navbar .navbar-nav .nav-item .active {
  color: #de4644;
}
.navbar .navbar-nav .nav-item .active::before {
  width: 23px;
}
.navbar .navbar-nav .nav-item .active::after {
  width: 11px;
}
.navbar form button i {
  font-size: 16px;
  color: #444;
}
.navbar .cart-info a {
  color: #de4644;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

/* ======================
    navbar css ends
====================== */
