@import 'variable.scss';
@import 'font.scss';


header{
    background: $hbg;
    ul{
        li{
            border-right: 1px solid $light;
            padding: 0 20px;
            a{
                @include openreg;
                font-size: 13px;
                color: $light !important;
                line-height: 50px;
                i{
                    margin-right: 4px;
                }
            }
        }
    }

    .header-left{
        ul{
            li{
                &:first-child{
                    padding-left: 0;
                }

                &:last-child{
                    border-right: none;
                }
            }
        }
    }

    .header-right{
        ul{
            li{
            
                &:last-child{
                    border-right: none;
                    padding-right: 0;
                }

            }
        }
    }
}

/* ========================
    header css ends
========================= */ 


