@mixin  trans($time) {
    transition: all linear $time;
    -moz-transition: all linear $time;
    -ms-transition: all linear $time;
    -o-transition: all linear $time;
    -webkit-transition: all linear $time;
}