//font family
$ff1:  'Raleway', sans-serif;
$ff2: 'Open Sans', sans-serif;

//color;
$brand: #de4644;
$light: #dddddd;
$dark: #222222;

//bgcolor;
$hbg: #444;
$ftbg: #353535;
$fcbg: #555555;

//overlay;
$over60: rgba(0,0,0,0.6);
$over70: rgba(0,0,0,0.7);
$over80: rgba(0,0,0,0.8);